.login{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.loginTitle{
    font-size: 45px;
}

.loginForm{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: auto;
}

.loginButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginLoginText {
    margin-top: 30px;
  }
  
  .loginLoginButton {
    margin-top: 10px;
  }