.delete-account-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

.delete-account-modal .modal-content h2 {
  font-family: 'appleberry';
  font-size: 24px;
  color: #FF0000; /* Maroon */
}

.delete-account-modal .modal-content p {
  font-family: 'josefin sans';
  margin-top: 6px;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.confirm-button, .cancel-button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.confirm-button {
  background-color: #FF0000; /* Red */
  color: #fff;
}

.cancel-button {
  background-color: #ddd; /* Light Gray */
  color: #333;
}

.confirm-button:hover, .cancel-button:hover {
  background-color: #600000; /* Darker Maroon on hover */
}
