.register{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.registerTitle{
    font-size: 45px;
    text-align: center;
    color: maroon;
    font-family: 'appleberry';
}

.registerForm{
    background-color: #ffffff9f;
    padding: 20px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.registerForm > label{
    margin: 10px 0;
    font-size: 18px;
    font-family: 'josefin sans', sans-serif;
}

.registerInput{
    padding: 8px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.registerButton{
    font-family: josefin sans;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #800000;
    color: #fff;
    transition: background-color 0.3s;
}

.registerButton:hover {
    background-color: #600000; /* Darker shade on hover */
}


.registerLoginButton{
    font-size: 14px;
    font-family: josefin sans;
    cursor: pointer;
    background-color: #800000;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    color: #fff;
    transition: background-color 0.3s;
}

.registerLoginButton:hover {
    background-color: #600000;
}
  
  .registerLoginText {
    color: #f9f6f6;
  }
  
