.register{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.registerTitle{
    font-size: 45px;
}

.registerForm{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: auto;
}

.registerLoginButton{
    top: 60px;
    right: 20px;
    cursor: pointer;
    border: none;
    padding: auto;
    border-radius: 20px;
}

.registerButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .registerLoginText {
    margin-top: 30px;
  }
  
  .registerLoginButton {
    margin-top: 10px;
  }