.top{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky; 
    top: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.topLeft{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.topCenter{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.topIcon{
    font-size: 20px;
    margin-right: 60px;
    color: #444;
}

.topImg{
    display: none;
    width: 65px;
    height: 10px;
    border-radius: 40%;
    object-fit: cover;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 18px;
}

.topLogo {
    height: 40px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}


