.top {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow to the bottom */
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
  }
  
  .topLeft img {
    height: 50px;
    margin: 5px;
    padding: 0px;
    cursor: pointer;
  }
  
  .topRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .topIcon {
    font-size: 20px;
    margin-right: 10px; 
    color: #444;
  }
  
  .topImg {
    display: none;
    width: 65px;
    height: 10px;
    border-radius: 40%;
    object-fit: cover;
  }
  
  .topList {
    display: flex;
    margin: 0;
    padding: 0; 
    list-style: none;
  }
  
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 10px; 
  }
  
  .accountMenu {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
  }
  
  .accountMenu .link,
  .accountMenu button {
    color: black;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .accountMenu .link:hover,
  .accountMenu button:hover {
    background-color: #f2f2f2;
  }
  
  .accountMenu button {
    color: white;
    background-color: maroon;
  }
  
  .accountButton {
    font-size: 16px;
    cursor: pointer;
    color: black; 
    background: none;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .accountButton:hover {
    color: #fff;
    background-color: maroon;
  }
  