/* Home.css */
.home-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LargeLogo {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    height: auto;
}


/* Style the SearchBar component */
.search-bar-container {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff9f;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the FeaturedCourses component */
.featured-courses {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


