
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-button-container {
  display: flex;
  align-items: center; /* Align vertically */
  width: 350px;
  border: 1px solid #000000; /* Border around the entire container */
  border-radius: 20px;
  overflow: hidden; /* Ensures the button fits within the border radius */
}

.input-button-container input {
  background-color: rgb(255, 255, 255);
  border: none;
  flex-grow: 1;
  padding: 9px;
  border-radius: 10; 
  font-size: 12px;
}

.input-button-container button {
  background-color: #1c1c1c;
  margin: auto;
  border: none;
  padding: 10px 12px;
  border-radius: 0; 
  cursor: pointer;
}

/* Search Results */
.search-results-container {
  height: 250px;
  width: 250px;
  margin-top: 10px;
  overflow-y: auto;
}

.search-results {
  margin-top: 20px;
  margin-bottom: auto;
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s; /* Add smooth hover transition */
}

.search-results li:last-child {
  border-bottom: none;
}

.search-results li:hover {
  background-color: rgba(61, 60, 60, 0.396)/* Slightly darker background on hover */
}

.search-bar button {
  color: #ffffff; /* Text color */
  font-family: 'appleberry';
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.search-bar button:hover {
  color: #fff; /* Text color on hover */
  background-color: maroon; /* Darker Maroon on hover */
}


/* Not found message */
.not-found-message {
  background-color: #fff;
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Modal styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(255, 255, 255, 0.7);  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Modal */
.modal {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  z-index: 2;
  width: 60%;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Apply a blur effect to the background when the modal is open */
.modal-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  filter: blur(10px); /* Adjust the amount of blur as needed */
  z-index: -1;
}