
.website-description {
    width: 65%;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 9px;
}

.LargeLogo {
    width: 100%;
    max-width: 600px;
    height: auto;
}



