/* body {
  background-image: url('/src/assets/school_img.jpg');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  height: 100vh; 
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); 
  z-index: 999; 
} */
body {
  background-image: url('/src/assets/backgroundBlue.svg'), url('/src/assets/wrinklePaper.png');
  background-repeat: no-repeat;
  background-size: cover;
}
 

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out;
}

@font-face {
  font-family: 'appleberry';
  src: url('./assets/fonts/appleberry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  position: relative; 
  margin: 0; 
  overflow: hidden; 
}

body::before {
  content: "";
  /* background-image: url('/src/assets/CoursifyBackground2.png'); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute; /* Absolutely position it to cover the body */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* This ensures the background is behind the content */
}
